<html>                                                                          
<head>                                                                          
<title>Back to care</title>                                      
<style>   
  .incoming_2 {
    background-color: lightgreen !important;
  }
   
  .delivered_true {
    background-color: MediumAquaMarine; /*green;*/
    width: 299px;
  }
   
  .delivered_false {
    background-color: PapayaWhip;
    width: 299px;
  }
   
  span {
    color: #EE8206;
    font-family: Verdana,Tahoma,Arial;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
  }

  #side-content {
    font-family: Verdana,Tahoma,Arial;
    font-size: 12px;
    font-weight: normal;
    overflow: auto;
    height: auto;
  }

#results-info {
  text-align: left;
  color: #555555;
  font-size: 0.8em;
  padding-left: 30px;
  position: absolute;
}

#content-view {
  background-color: #FFFFFF;
  height: 90%;
}

#sub-content-view {
  background-color: #FFFFDD;
  height: auto;
  border: 1px dotted #696969;
}

h3 {
  font-family: Tahoma,Verdana,Arial;
  font-size: 12px; 
  margin: 0 0 0.1em;
  color: #EE8206;
}

.h3 {
  border-style: dotted;
  border-width: 0px 0px 1px 0px;
  border-color: #696969;
  margin-left: 10px;
  margin-right: 10px;
}

.t_left {
  margin-left: 10px;
  margin-top: 10px;
  font-family: Tahoma,Verdana,Arial;
  font-size: 12px; 
  width: 98%;
  text-align: left;
}

.t_left th{
  word-wrap: break-word;
  vertical-align: top;
  color: #404040;
}

.t_left td{
  vertical-align: top;
}

#controls {
  float: right;
  font-size: 11px; 
  color: black;
  text-decoration: none;
}

#controls a {
  color: #EE8206;
}

hr {
  border-style: dotted;
  border-width: 1px;
  margin-left: 12px;
  margin-right: 12px; 
}

.clinic_information {
  font-size: 12px; 
  margin-left: 12px;
  margin-right: 12px; 
}

#cancel_sms_link {
    float: right;
    margin-right: 9px;
    right: 65px;
}

#send_sms_link {
  margin-right:10px;
  float: right;
  position: absolute;
  right: 65px;
}

#text_msg {
  margin-left:5px;
  width: 97%;
}

#sent_msg {
  margin-left: 5px;
}

#sent_msg th, td {
  font-size: 12px;
  text-align: left;
}

#thread_text {
  display: none;
}

.line_bottom {
  border-style: dotted;
  border-width: 0px 0px 1px 0px;
}

#numbers {
  text-align: right;
}

#phone_numbers {
  margin-right: 6px;
}
</style>                                                                        
<%= stylesheet_link_tag "home" %>                                              
<%= stylesheet_link_tag "issues" %>                                              
<%= javascript_include_tag "dateformat" %>
<%= javascript_include_tag "prototype"%>                                        
<%= javascript_include_tag "disable_page"%>                                        
<%= unobtrusive_datepicker_includes %>
                                        
<script>
  function updateTracedOutcome(outcome_id) {
    var patient_id = "<%= params[:id] %>";
    var url = "/traced_outcomes/update?patient_id=" + patient_id + "&outcome_id=" + outcome_id;
    response = new Ajax.Request(url,{method:'get',onSuccess: function(transport){
      text = transport.responseText;      
      if (text) {
      }                 
    }});                                                                        
  }

  function composeSMS() {
    document.getElementById('text_msg').disabled = false;
    document.getElementById('send_sms_link').disabled = false;
    document.getElementById("thread").style.display="none";
    document.getElementById("thread_text").style.display="inline";
  }

  function cancelSMS() {
    document.getElementById("thread").style.display="inline";
    document.getElementById("thread_text").style.display="none";
    document.getElementById("text_msg").value = "";
  }

  function sendSMS() {
    document.getElementById('text_msg').disabled = true;
    document.getElementById('send_sms_link').disabled = true;
    var selected_phone_number = document.getElementById("phone_numbers").value;
    var sms = document.getElementById("text_msg").value;
    if (selected_phone_number.length == 0) {
      alert("Select a phone number to send to")
      return 
    }


    if (selected_phone_number.length > 0 && sms.length > 0){
      var url = "/sms/inbox?number=" + selected_phone_number;
      url+="&person_id=<%=@demographics[:person_id]%>";
      url+="&sms=" + sms;   
      response = new Ajax.Request(url,{method:'get',onSuccess: function(transport){
        text = transport.responseText;      
        if (text) {
          cancelSMS();
          updateSMSthread();
        }                 
      }});                                                                        
    } 
  }

  function updateSMSthread() {
    var url = "/sms/update_sms_thred/<%=@demographics[:person_id]%>";
    response = new Ajax.Request(url,{method:'get',onSuccess: function(transport){
      text = transport.responseText;                                          
      if (text.length > 0) {
        document.getElementById("thread").innerHTML = text;
      }
    }});                                                                        
  }

  function updateOutbox() {
    var url = "/sms/outbox";
    response = new Ajax.Request(url,{method:'get',onSuccess: function(transport){
      text = transport.responseText;                                          
      if (text.length > 0) {
        updateSMSthread();
      }
    }});                                                                        
  }

</script>       
<%
  phone_numbers = [""]
  if @demographics[:office_phone_number]
    phone_numbers << @demographics[:office_phone_number] unless @demographics[:office_phone_number].match(/Unknown|N/i)
  end
  if @demographics[:cell_phone_number]
    phone_numbers << @demographics[:cell_phone_number] unless @demographics[:cell_phone_number].match(/Unknown|N/i)
  end
  if @demographics[:home_phone_number]
    phone_numbers << @demographics[:home_phone_number] unless @demographics[:home_phone_number].match(/Unknown|N/i)
  end
%>                                                                         
</head>                                                                         
                                                                                
<body id = "main_body">


<%= render(:partial => "/home/main_header") %><br />

<div id = "headline-container">
<%=@report%>
</div>

<div id = "main-content">
  <div id = "side-content">
      <div class="h3"><h3>SMS thread</h3></div>
      <div class="sms_string" id="thread_text">
         <div id="numbers">Select number:&nbsp;<%= select_tag :phone_numbers,                              
         options_for_select(phone_numbers)%></div>
        <%=text_area_tag(:text_msg, nil, {:limit => 160})%><br />
        <%= link_to "Send","javascript:sendSMS();",:id => "send_sms_link" %>
        <%= link_to "Cancel","javascript:cancelSMS();",:id => "cancel_sms_link" %>
      </div>
      <div class="sms_string" id="thread">
        <table id="sent_msg">
          <% (@sms.map || []).each do |sms| 
        
             if sms.message.match(/::/)                                                
               message = sms.message.split("::")[1].to_s rescue sms.message            
             else                                                                      
               message = sms.message                                                   
             end 
          
          %>
          <tr>
            <th class="delivered_<%=sms.delivered%>"><%=sms.number%> (<%=sms.date_created.to_date%>)</th>
          </tr>
          <tr>
            <td class='line_bottom'><%= message %></span>
            </td>                                   
          </tr>
          <%end%>
        </table>
      </div>
  </div>

  <div id = "content-view">
    <div id = "sub-content-view">
      <div class="h3"><h3><%=@demographics[:national_id]%></h3></div>
    <table class = "t_left">
      <tr>
        <th>Name:&nbsp;</th><td><%=@demographics[:first_name] + "&nbsp;" + @demographics[:last_name]%></td>
        <th>Sex:&nbsp;</th><td><%=@demographics[:gender] == "F" ? "Female" : "Male"%></td>
      </tr>
    <!--/table>
    <table class = "t_left"-->
        <th>DOB:&nbsp;</th><td><%=@demographics[:dob]%></td>
        <th>ARV number:&nbsp;</td><td><%=@demographics[:arv_number]%></td>
        <th>Occupation:&nbsp;</th><td><%=@demographics[:occupation]%></td>
      </tr>
      <tr>
        <th>Address:&nbsp;</th><td><%=@demographics[:current_address]%></td>
        <th>Home district:&nbsp;</th><td><%=@demographics[:home_district]%></td>
        <th>Land mark:&nbsp;</th><td><%=@demographics[:land_mark]%></td>
      </tr>
    </table>
    <hr />
    <p class="clinic_information"><strong>Latest clinical information</strong></p>
    <p class="clinic_information">Last visit date:&nbsp;
    <%=@demographics[:last_visit_date].strftime('%A %d %B %Y') rescue nil%></p>
    <p class="clinic_information">Appointment date given:&nbsp;
    <%=@demographics[:latest_appointment_date_given].strftime('%A %d %B %Y') rescue nil%></p>
    <p class="clinic_information">Latest traced Outcome:&nbsp;
      <select name="traced_outcome" onchange="updateTracedOutcome(this.value)" id="traced_outcome">
        <option value="<%=@demographics[:traced_outcome].id rescue nil%>"><%=@demographics[:traced_outcome].name rescue nil %></option>
        <%(@traced_outcomes || []).each do |outcome| %>
          <option value="<%= outcome.id %>"><%= outcome.name %></option>
        <%end%>
      </select>
   </p>
    <p class="clinic_information">Latest Outcome:&nbsp;<%=@demographics[:latest_state]%></p>
    <!--p class="clinic_information">Latest regimen given:&nbsp;<%#=@demographics[:last_regimen_given]%></p-->
    <p class="clinic_information" style="color: #EE8206;font-family: Tahoma,Verdana,Arial;">Latest drugs given:</p>
    <% (@demographics[:last_drugs_given] || {} ).map do |name , values|
       quantity = values[:quantity]
       dose = values[:dose]
       dispensed_date = values[:dispensed_date].to_date rescue nil
       days_gone = (Date.today - dispensed_date).to_i rescue nil
       expected_remaining = (quantity.to_f - (dose*days_gone)) rescue 'Error'
       unless expected_remaining == 'Error' 
        expected_remaining = 0 if expected_remaining < 0 
       end
    %>
      <p class="clinic_information"><%=name%>:
      &nbsp;Dispensed quantity: (<%=quantity ||= 'N/A'%>)
      &nbsp;Daily dose <%=dose%></p>
      <p class="clinic_information">Dispensed date <%=dispensed_date%>
      &nbsp;Expected remaining <%=expected_remaining%>
      <% if expected_remaining == 0 
         run_out_date = dispensed_date + ((quantity/dose).to_f).days
         days_gone_since_run_out = (Date.today - run_out_date).to_i
      %>
        <p class="clinic_information"  style="color: red;">Patient has missed:
          &nbsp;<%=days_gone_since_run_out%>&nbsp;days
        </p>
      <%end rescue nil%>
      <hr />
      </p>
    <%end%>
    <!--p class="clinic_information">Number of pills given:&nbsp;</td><td><%=%></p>
    <p class="clinic_information">Expected pills remaining:&nbsp;</td><td><%=%></p-->
  </div>
  <div id = "controls">
    <a href="javascript:composeSMS();">Compose sms</a>|
    <a href="/issues/index">Run queries</a>
  </div>

</div>



</body>
<script>
  setInterval("updateOutbox();",60000);
  updateOutbox();
</script>
</html>










