<html>                                                                          
<head>                                                                          
<title>Back to care</title>                                      
<style>    
  ul {
    color: #505050;
    line-height: 1.5em;
  }        

  #content-right a {
    color: green;
    text-decoration: none;
    font-family: Verdana,Tahoma,Arial;
    font-size: 10px;
    font-weight: normal;
  } 
                                                            
  #content-right li {
    line-height: 0.5em;
  }
</style>                                                                        
<%= stylesheet_link_tag "home" %>                                              
                                                                                
</head>                                                                         
                                                                                
<body>


<%= render(:partial => "/home/main_header") %><br />

<div id = "headline-container">
Home
</div>

<div id = "main-content">

  <div id = "content-left">
Welcome to Back to care. This is where you can log and follow up patients 
across Baobab Health's ART system, patients who have missed 
there appointment dates or have defaulted.<p />
If you are looking for assistance you can 
click on the 'Help' menu option at the top.
  </div>

  <div id = "content-right">
    <div id = "latest-outcomes">Latest outcomes</div>
      <ul>
        <li>
          <a href="/reports/container?type=missed_appointments&start_date=<%=(Date.today - 3.months)%>">Missed appointments</a>
          (<%=(Encounter.first.encounter_datetime || Date.today).strftime("%d %b %Y")%>
          &nbsp;to&nbsp;<%=Date.today.strftime("%d %b %Y")%>)
          <p>Patients who have run-out of arv drugs and more than 21 days has passed</p>
        </li><br />
        <li>
          <a href="/reports/container?type=sms_status&start_date=<%=(Date.today - 3.months)%>">Outbox status</a>
          (<%=(Date.today - 3.months).strftime("%d %b %Y")%>
          &nbsp;to&nbsp;<%=Date.today.strftime("%d %b %Y")%>)
          <p>The current status of sent sms - wether the were delivered or not</p>
        </li><br />
        <li>
          <a href="/reports/container?type=trace_outcomes&start_date=<%=(Date.today - 3.months)%>">Current trace outcomes</a>
          (<%=(Date.today - 2.months).strftime("%d %b %Y")%>
          &nbsp;to&nbsp;<%=Date.today.strftime("%d %b %Y")%>)
          <p>The current status of patients who have been traced through sms or patient visits</p>
        </li><br />
        <li>
          <a href="#">Transfer out</a>
          (<%=(Date.today - 1.month).strftime("%d %b %Y")%>
          &nbsp;to&nbsp;<%=Date.today.strftime("%d %b %Y")%>)
          <p>Patients who have transfered to other clinics for treatment</p>
        </li><br />
        <li>
          <a href="#">Died</a>
          (<%=(Date.today - 2.months).strftime("%d %b %Y")%>
          &nbsp;to&nbsp;<%=Date.today.strftime("%d %b %Y")%>)
          <p>Patients who have been reported as "Dead"</p>
        </li><br />
        <li>
          <a href="/issues/index">Run queries</a>
        </li><br />
      </ul>
  </div>

</div>


</body>
</html>
