<html>                                                                          
<head>                                                                          
<title>Back to care:<%=@title%></title>                                      
<style>   
  .popUpLinks {
    color: #555555;
    font-size: 0.8em;
    padding-right: 10px;
    position: absolute;
    right: 0px;
    font-color: black;
  }

  #popUpCancel {
    right: 50px;
  }
 
  #msg {
    height: 70px;
    width: 350px;
  }
  .questionLayer {
    width: auto !important;
    height: auto !important;
  }

  #send-to-all {
    color: #555555;
    font-size: 0.8em;
    padding-right: 30px;
    position: absolute;
    text-align: left;
    right: 0px;
    font-color: black;
  }
 
  #results-info {
    color: #555555;
    font-size: 0.8em;
    padding-left: 30px;
    position: absolute;
    text-align: left;
    width: 97%;
  }
 
  ul {
    color: #505050;
    line-height: 1.5em;
  }        

  #content-right a {
    color: green;
    text-decoration: none;
    font-family: Verdana,Tahoma,Arial;
    font-size: 10px;
    font-weight: normal;
  } 
                                                            
  #content-right li {
    line-height: 0.5em;
  }

  #table-content a {
    color: black;
    font-family: helvetica,arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    list-style-type: none;
    text-decoration: underline;
  }

  .patient_info {
    background-color: #C4FFC4 !important;
  }

  #table-content td {
    border-collapse: collapse;
    border-spacing: 0;
    font-family: helvetica,arial,sans-serif;
    font-size: 14px;
    vertical-align: top;
  }

  #table-content {
    overflow: auto;
  }

  #table-content table {
    width: 100%;
    position: absolute;
    height: auto;
    margin-top: 25px;
  }

  th {                                                                            
    color: #555555;                                                                 
    font-weight: normal;                                                            
    cursor: pointer;                                                                
    text-align: left;                                                               
    font-style: normal;                                                             
    font-size: 0.9em;                                                               
    font-weight: bold;
  }                                                                               
                                                                                
 #table_head_tr {                                                                   
   background-color: white;                                                       
   border-style: solid !important;                                                           
   border-width-top: 1px;
   border-width-bottom: 1px;
   border-collapse: collapse;
   border-spacing: 0;
   font-family: helvetica,arial,sans-serif;
  }

<% unless @type.match(/sms/i)%>
  #th1 {                                                                          
  width:90px !important;                                                        
  }                                                                               
                                                                                  
  #th2 {                                                                          
    width:200px !important;                                                       
  }                                                                               
                                                                                  
  #th3 {                                                                          
    width:200px !important;                                                       
  }                                                                               
                                                                                  
  #th4 {                                                                          
    width:85px !important;                                                        
  }                                                                               
                                                                                  
  #th5 {                                                                          
    width:100px !important;                                                       
  }                                                                               
                                                                                  
  #th6 {                                                                          
    width:100px !important;                                                       
  }                                                                               
                                                                                  
  #th7 {                                                                          
    width:150px !important;                                                       
  }                      
<%else%>
  #th1 {                                                                          
  width:70px !important;                                                        
  }                                                                               
                                                                                  
  #th2 {                                                                          
    width:100px !important;                                                       
  }                                                                               
                                                                                  
  #th3 {                                                                          
    width:100px !important;                                                       
  }                                                                               
                                                                                  
  #th4 {                                                                          
    width:25px !important;                                                        
  }                                                                               
                                                                                  
  #th5 {                                                                          
    width:80px !important;                                                       
  }                                                                               
                                                                                  
  #th6 {                                                                          
    width:300px !important;                                                       
  }                                                                               
                                                                                  
  #th7 {                                                                          
    width:75px !important;                                                       
  }                      
                                                                                  
  #th8 {                                                                          
    width:0px !important;                                                       
  }                      
                                                                                  
  #th9 {                                                                          
    width:30px !important;                                                       
  }                      
                                                                                  
  #th10 {                                                                          
    width:0px !important;                                                       
  }
                        
  #th11 {                                                                          
    width:100px !important;                                                       
  }                      
<%end%>
  #table-content {
    width; 100%;
    background-color: transparent;
    height: 85%;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
  }
  
  #patient_data {
  }

  #patient_data_info { visibility:hidden; }
</style>                                                                        
<%= stylesheet_link_tag "home" %>                                              
<%=javascript_include_tag "prototype"%>                                         
<%=javascript_include_tag "jquery_data_table" %>                                
<%=javascript_include_tag "jquery.dataTables.min" %>                            
                                                                                
<%= stylesheet_link_tag "demo_table" %>                                         
<%= stylesheet_link_tag "demo_table_jui" %>                                     
<%= stylesheet_link_tag "demo_page" %>


<%= stylesheet_link_tag "disable_page" %>                                              
<%= javascript_include_tag "disable_page"%>


<script>       
  function dataT(){                                                               
   $('#patient_data').dataTable(); 
   
   var recLength = parseInt("<%=@patients.length%>");
   if (recLength > 100){
     var count = 200
     var html = ["<option value='10'>10</option>"];
     html.push("<option value='25'>25</option>");
     html.push("<option value='50'>50</option>");
     html.push("<option value='100'>100</option>");
     while(recLength > count) {
       html.push("<option value='" + count + "'>" + count +"</option>");
       count+= 200;
     }
     html.push("<option value='" + count + "'>" + count +"</option>");
     document.getElementsByName("patient_data_length")[0].innerHTML = html.join("");
   }                                                
  } 

 setInterval("upDateResultsInfo();",300);                                      
                                                                                
  function upDateResultsInfo() {                                                
    var number_of_patients = parseInt(document.getElementById("patient_data_info").innerHTML.substring(8,9));
    document.getElementById("results-info").innerHTML = document.getElementById("patient_data_info").innerHTML;
    if (number_of_patients > 0) {
      document.getElementById("results-info").innerHTML += "<span class='send-to-all'>";
      document.getElementById("results-info").innerHTML += "<a href='javascript:sendAll()' id='send-to-all'>Send to all</a";
      document.getElementById("results-info").innerHTML += "</span>";
    }
  } 

  function sendAll() {
    showLayer();

    popUp = document.getElementById("question");
    popUp.innerHTML = "<textarea id='msg'></textarea>";
    popUp.innerHTML += "<br /><a id='popUpCancel' class='popUpLinks' href='javascript:hideLayer();'>Cancel</a>";
    popUp.innerHTML += "&nbsp;<a class='popUpLinks' href='javascript:sendMSG();'>Send</a>";
  }


  function sendText(patient_id) {
    showLayer();

    popUp = document.getElementById("question");
    popUp.innerHTML = "<textarea id='msg'></textarea>";
    popUp.innerHTML += "<br /><a id='popUpCancel' class='popUpLinks' href='javascript:hideLayer();'>Cancel</a>";
    popUp.innerHTML += "&nbsp;<a class='popUpLinks' href='javascript:sendOne(" + patient_id + ");'>Send</a>";
  }

/* ............................................................................ */



var ids = {};
var message = null;
 
function sendMSG() {
  var all_selected = document.getElementsByClassName('patient_ids');
  message = document.getElementById('msg').value; 

  for(i=0;i<all_selected.length;i++) {
    ids[all_selected[i].id] = all_selected[i].id;
  }
  doDelayLoop();
}

function doDelayLoop() {
  for(id in ids){
    performYourActions(id);
    break
  }
  hideLayer();
}
  
function performYourActions(patient_id) {
  var url = "/sms/send_all?patient_id=" + patient_id + "&sms=" + message;                   
  transport = new Ajax.Request(url,{method:'get',onSuccess: function(transport){
    if (transport.responseText) {
      delete ids[patient_id];
      doDelayLoop();
    }
  }});                                                                        
}

function sendOne(patient_id) {
  message = document.getElementById('msg').value; 
  var url = "/sms/send_all?patient_id=" + patient_id + "&sms=" + message;                   
  transport = new Ajax.Request(url,{method:'get',onSuccess: function(transport){
    if (transport.responseText) {
      hideLayer();
    }
  }});                                                                        
}



</script>                                                               
</head>                                                                         
                                                                                
<body>


<%= render(:partial => "/home/main_header") %><br />

<div id = "headline-container">
Reports::<%=@type%>
</div>

<div id = "table-content">
<% if @type.match(/sms/i)%>
  <%=sms_status_table(@patients,@title)%>
<% elsif @type.match(/outcome/i)%>
  <%=traced_outcomes(@patients,@title)%>
<%else%>
  <%=build_table(@patients,@title)%>
<%end%>
</div>
<div id="results-info">
</div>

<div id="shadow" class="opaqueLayer"> </div>                                    
<div id="question" class="questionLayer" style="font-size: 0.9em;">

</body>
</html>

<script>                                                                        
  dataT();
</script>
